html,
body {
  padding: 0;
  margin: 0;
  /* overflow-y: hidden; */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* overflow-y: hidden; */
  }

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Verde: 23BE53 //Botões
Preto: #060608 //Página principal
Cinza: #333333 // Abaixo da baixa principal
Para as fontes: #E7DFDD  */
