.Container{
  background-color: #060608;
  padding: 0.5rem;
}

/* Links das stacks, projetos e sobre mim */
.SectionLink {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
  color: #E7DFDD;
  font-weight: 500;
}

.SectionLink a:hover{
  color: #23BE53 ;
}


/* Button pra entrar em contado */
.ButtonContact {
  width: 130px;
  height: 40px;
  font-size: 1rem;
  border-radius: 15px;
  background-color: #23BE53;
  border: none;
  color: #E7DFDD;
  font-weight: 700;
}

.ButtonContact:hover{
  background-color: #E7DFDD;
  color: #060608;
}