.Container{
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.items{
 border:1px solid;
 margin: 1rem;
}




/* 
  html #E34F26
  css #1572B6
  javascript #F7DF1E
  React #61DAFB
  styled #DB7093
  next #000000 
*/